.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  padding-right: 1rem;
}

.bg-danger-bk {
  background-color: #f1f1ef;
}
.bg-danger-bf {
  background-color: #f4fafd;
}
