.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  padding-right: 1rem;
}

.bg-danger-bk {
  background-color: #ffa502;
}
.bg-danger-bf {
  background-color: #f4fafd;
}
.btn-primary-ch {
  background-color: #7bed9f;
}
